---
layout: default
title: Bryce Pilcher's Paper Reviews
---
	<h2>{{ page.title }}</h2>
	<p>A requirement of the CSC 591 Reliable Software Systems class, in which I am enrolled, is to read up to four 
	   provided papers a week and write a review of one of them.  Below is a list of papers which I have reviewed,
	   and the reviews I have written for them. </p>
	<ul class="reviews">

	  {% for post in site.posts %}
	    {% if post.category == 'review' %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
	  {% endfor %}
	</ul>
